* {
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* max-width: 65ch; */
}
nav {
  background-color: #a306b6;
  padding: 10px 10px 0px 10px;
  display: flex;
  justify-content: space-between;
}

nav h2{
  align-self: center;
}

nav ul {
  display: flex;
  gap: 30px;
  padding: 16px 0px;
}

nav ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

h2 {
  color: white;
}
h1 {
  color: #a306b6;
  text-align: center;
  color: white;
  font-size: clamp(35px, 10vw, 50px);
}

header {
  min-height: 250px;
  background-image: url('https://loremflickr.com/cache/resized/65535_52690135826_4514c4894f_h_1280_400_nofilter.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
background-size: cover;
background-repeat: no-repeat;
background-position: center top;
}

.section-title,
.featured-posts {
  color: black;
  padding: 16px;
}

.featured-posts {
  grid-column: 1 / -1;
}

main {
  max-width: 65ch;
  margin: auto;
}

main section:nth-child(2) {
  display: grid;
  grid-gap: 10px;
  padding: 5px;
}

article {
  border-radius: 5px;
  line-height: 76px;
  box-shadow: 5px 5px 5px 5px grey;
}

h3 {
  padding-left: 8px;
  color: #a306b6;
}

footer {
  background-color: #a306b6;
  color: white;
}

footer p {
  padding: 8px;
}

section {
  margin-bottom: 16px;
}

@media screen and (max-width: 790px) {
  nav {
    display: flex;
    padding: 2px;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  nav h2 {
    width: 40%;
    align-self: center;
    padding: 16px;
  }
  nav ul {
    flex-direction: column;
    padding: 16px 16px;
  }

  main section:nth-child(2) {
    grid-template-columns: 1fr 1fr;
  }

  section > article:first-of-type {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  header{
    background-position: 70%;
  }
}

@media screen and (min-width: 791px) {
  main section:nth-child(2) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  section > article:first-of-type {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
  }
}
